.skv-card {

  &:hover {
    cursor: default;
  }

  &__headline {

    &-link {
      outline: none;
      color: $color-primary-purple;
      font-size: 20px;
      line-height: 1.2em;

      &:focus {
        color: $color-gray-text;
        text-decoration: underline;
        box-shadow: 0 0 0 3px $color-accent-orange;
        background: $color-accent-orange;
      }

      .skv-card:hover &,
      .skv-card--focused & {
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}
