$label-padding-tb: 0.375rem;
$label-padding-tb-md: 0.75rem;

.skv-section-navigation {
  position: relative;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;

  &__label {
    display: inline-block;
    margin-top: 0;
    margin-bottom: #{2 * $label-padding-tb};
    padding: $label-padding-tb 1.125rem $label-padding-tb 0.75rem;
    color: $color-white;
    background-color: $color-primary-purple;
    border-top-right-radius: 1.125rem;

    @include media-min('md') {
      padding: $label-padding-tb-md 1.25rem $label-padding-tb-md 0.875rem;
    }

    &--overlap {
      position: absolute;
      top: calc(
        -0.875rem - 1.625rem - #{2 * $label-padding-tb}
      ); // 1.625rem is line height
      margin-bottom: 0;
      @include media-min('md') {
        top: calc(-0.875rem - 2rem - #{2 * $label-padding-tb-md});
        // 2rem is line height
      }
    }
  }
  &__box {
    display: flex;
    &-item {
      width: 100%;
      background-color: $color-complement-purple-light;
      border-bottom: 1px solid $color-complement-purple-light;
      @include media-min('md') {
        min-height: 7rem;
        margin: 0.875rem 0;
        border-bottom: 0;
        background-color: $color-white;
        &:hover,
        &:focus {
          border-bottom: 1px solid $color-complement-purple-light;
        }
      }
      @include media-max('md') {
        &--no-border {
          border-bottom: 0;
          &:hover,
          &:focus {
            border-bottom: 0;
          }
        }
      }
      &-link {
        display: block;
        color: $color-primary-purple;
        font-size: rem(20px);
        line-height: rem(26px);
        font-weight: $font-weight-bold;
        padding: 0.6875rem 0;
        @include media-min('md') {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 100%;
          padding: 1rem;
          border: 2px solid transparent;
          box-shadow: 0 6px 14px 0 rgba(108, 39, 106, 0.25);
          transition: box-shadow 0.15s ease-in-out;
          &:hover,
          &:focus {
            border: 2px solid $color-primary-purple;
            outline: none;
            box-shadow: none;
          }
          & > .icon-arrow {
            display: none;
          }
        }
        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          color: $color-primary-purple;
        }
      }
    }
  }
}
