.skv-box-link {
  cursor: default;

  &:hover,
  &--focused {

  }

  &__headline {

    &-link {
      outline: none;

      &:hover,
      &:focus {
        text-decoration: underline !important;
        color: $color-white;
        background-color: $color-yellow;
      }

      &--boxed {
        &:hover,
        &:focus {
          box-shadow: 0.3em 0 0 $color-yellow, -0.3em 0 0 $color-yellow;
        }
      }

      .skv-box-link:hover &,
      .skv-box-link--focused & {
        text-decoration: none;
      }
    }
  }
}
