<div class="skv-news">
  <h2 class="skv-news__title">{{ title }}</h2>

  <ul class="skv-news__list">
    {{#each items}}
      <li class="skv-news__list-item">
        <time class="skv-news__list-item-date">{{ date }}</time>
        {{ render '@nav-link' . merge=true }}
      </li>
    {{/each}}
  </ul>
</div>
