<div class="skv-news">
  {{> @section-heading label=title }}
  <ul class="skv-news__list">
    {{#each items}}
      <li class="skv-news__list-item">
        <time class="skv-news__list-item-date">{{ date }}</time>
        {{ render '@nav-link' link merge=true }}
      </li>
    {{/each}}
  </ul>
</div>
