.skv-box-link-container {
  list-style: none;
  padding: 0;
  margin: -15px;
  display: flex;
  width: calc(100% + 30px);

  @include media-max('md') {
    flex-direction: column;
  }

  @include media-max('sm') {
    margin: 15px -15px;
  }

  @include media-print {
    flex-direction: row;
  }

  &__item {
    padding: 15px;
    width: 50%;

    @include media-max('md') {
      width: 100%;
    }

    @include media-print {
      width: 50%;
    }
  }
}
