<ul class="skv-box-link-container">
  <li class="skv-box-link-container__item">
    {{ render '@box-link' }}
  </li>
  <li class="skv-box-link-container__item">
    {{ render '@box-link--text-link-green-squares' }}
  </li>
</ul>
