<svg class="skv-throbber" viewBox="0 0 300 15">
  <title>Laddar...</title>

  <defs>
    <clipPath id="throbber__clip">
      <rect x="2" y="2" width="296" height="11" rx="5" ry="5" />
    </clipPath>
  </defs>

	<rect id="throbber__progress" y="2" width="200" height="11" clip-path="url(#throbber__clip)">
		<animate
			attributeType="XML"
			attributeName="x"
			from="-200"
			to="300"
			dur="4s"
			repeatCount="indefinite"
		/>
	</rect>
	<rect id="throbber__frame" x="2" y="2" width="296" height="11" rx="5" ry="5" stroke-width="2" />
</svg>
