.skv-nav-link {
  padding: .2em;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  color: $color-primary-purple;
  transition: color 250ms;

  &:hover, &:active, &:focus {
    color: lighten($color-primary-purple, 10%);
  }

  &--light {
    color: $color-white;

    &:hover {
      color: darken($color-white, 10%);
    }

    &:focus {
      color: $color-primary-purple;
      background: $color-white;
      outline: none !important;
      border-radius: 3px;
    }
  }

  .skv-icon {
    vertical-align: middle;
  }
}
