

<div class="skv-banner skv-banner--info" role="status" data-js-banner data-js-dismissable="true">
  <div class="skv-banner__inner-container" data-js-banner-container>
        <div class="skv-banner__content">
      <h3>Den här notisen har en stängknapp</h3>
      <p>Och en brödtext. Aliquip sit minim duis cupidatat quis duis eiusmod excepteur. Ullamco fugiat fugiat sint aliqua culpa minim. Aute tempor mollit consectetur dolor cillum dolore. Ullamco proident mollit magna occaecat occaecat anim et</p>
        <a class="skv-nav-link " href="#">
  Läs mer om hur vi hanterar cookies
  
  <svg class="skv-icon skv-icon--inline">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>
</a>

    </div>

      <button class="skv-banner__dismiss" aria-label="Stäng">
        Stäng
        
        <svg class="skv-icon">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
  </div>
</div>

