

<div class="skv-banner skv-banner--warning" role="status" data-js-banner data-js-dismissable="false">
  <div class="skv-banner__inner-container" data-js-banner-container>
    
      <div class="skv-banner__icon-container">
            
            <svg focusable="false" class="skv-icon skv-icon--inline">
              <use xlink:href="#icon-warning"></use>
            </svg>
      </div>
    <div class="skv-banner__content">
      <h3>Vi har en del problem med sajten för tillfället</h3>
      
    </div>

  </div>
</div>

