

<div class="skv-banner skv-banner--error" role="status" data-js-banner data-js-dismissable="false">
  <div class="skv-banner__inner-container" data-js-banner-container>
    
      <div class="skv-banner__icon-container">
          
          <svg class="skv-icon skv-icon--inline">
            <use xlink:href="#icon-error"></use>
          </svg>
      </div>
    <div class="skv-banner__content">
      <h3>Något gick fel. Kontaka oss om problemet kvarstår</h3>
      
    </div>

  </div>
</div>

