

<div class="skv-box-link" data-js-box-link>
  <figure class="skv-box-link__figure">
      <img class="skv-box-link__image" src="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg" srcset="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg 600w, /styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@2x.jpg 1200w" sizes="auto" alt=""/>
  </figure>
  <div class="skv-box-link__content">
    <h2 class="skv-box-link__headline">
      <a class="skv-box-link__headline-link skv-box-link__headline-link--boxed" href="#" data-js-box-link-headline-link>
        Digitalisering av de nationella proven genom successivt införande
          
          <svg class="skv-icon skv-icon--middle">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
      </a>
    </h2>
  </div>
</div>

