

<ul class="skv-box-link-container">
  <li class="skv-box-link-container__item">
    <div class="skv-box-link" data-js-box-link>
  <figure class="skv-box-link__figure">
      <img class="skv-box-link__image" src="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg" srcset="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg 600w, /styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@2x.jpg 1200w" sizes="auto" alt=""/>
  </figure>
  <div class="skv-box-link__content">
    <h2 class="skv-box-link__headline">
      <a class="skv-box-link__headline-link skv-box-link__headline-link--boxed" href="#" data-js-box-link-headline-link>
        Digitalisering av de nationella proven genom successivt införande
          
          <svg class="skv-icon skv-icon--middle">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
      </a>
    </h2>
  </div>
</div>

  </li>
  <li class="skv-box-link-container__item">
    <div class="skv-box-link" data-js-box-link>
  <figure class="skv-box-link__figure">
      <div class="skv-box-link__image skv-box-link__image--pattern-green-squares skv-box-link__image--color-"></div>
  </figure>
  <div class="skv-box-link__content skv-box-link__content--center">
    <h2 class="skv-box-link__headline">
      <a class="skv-box-link__headline-link" href="#" data-js-box-link-headline-link>
        Digitalisering av de nationella proven genom successivt införande
          
          <svg class="skv-icon skv-icon--middle">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
      </a>
    </h2>
      <p class="skv-box-link__teaser">Vi arbetar för att digitalisera de nationella proven och möjliggöra extern bedömning. Redan från hösten 2018 ska skolorna använda <strong>digitala enheter</strong> vid vissa prov</p>
  </div>
</div>

  </li>
</ul>

