

<div class="skv-box-link" data-js-accessible-link data-js-accessible-link-focus-class="skv-box-link--focused">
  <figure class="skv-box-link__figure">
      <img class="skv-box-link__image" src="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg" srcset="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg 600w, /styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@2x.jpg 1200w" sizes="auto" alt=""/>
  </figure>
  <div class="skv-box-link__content">
    <h2 class="skv-box-link__headline">
      <a class="skv-box-link__headline-link skv-box-link__headline-link--boxed" href="#" data-js-accessible-link-url>
        Digitalisering av de nationella proven genom successivt införande
          
          <svg focusable="false" class="skv-icon skv-icon--middle">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
      </a>
    </h2>
  </div>
</div>

