

<div class="skv-card" data-js-accessible-link data-js-accessible-link-focus-class="skv-card--focused">
  <div class="skv-card__content">
    
    <h2 class="skv-card__headline">
      <a class="skv-card__headline-link" href="#" data-js-accessible-link-url>
        Så förbättrade Dalhemsskolan elevernas resultat
          
          <svg focusable="false" class="skv-icon skv-icon--middle">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
      </a>
    </h2>
      <p class="skv-card__teaser">Mellan 2016 och 2018 deltog Dalhemsskolan i Skolverkets satsning Samverkan för bästa skola. Tio medarbetare berättar hur de utvecklat verksamheten för att bättre kunna möta elevernas behov.</p>
  </div>
</div>

