

<div class="skv-card" data-js-accessible-link data-js-accessible-link-focus-class="skv-card--focused">
    <img class="skv-card__image" src="/styleguide/tmp/img/graphics/student.jpg" alt="Ung flicka som studerar"/>
  <div class="skv-card__content">
    
    <h2 class="skv-card__headline">
      <a class="skv-card__headline-link" href="#" data-js-accessible-link-url>
        Skillnader mellan provresultat och betyg i gymnasieskolan
          
          <svg focusable="false" class="skv-icon skv-icon--inline">
            <use xlink:href="#icon-external"></use>
          </svg>
      </a>
    </h2>
  </div>
</div>

