

<div class="link-list">
  <h3 class="link-list__title">Många frågar om...</h3>
  <ul class="link-list__items">
    <li class="link-list__item">
      <a class="link-list__link" href="#"
        >Bedömningsportalen med längre text  
  <svg focusable="false" class="skv-icon skv-icon--middle">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>

      </a>
    </li>
    <li class="link-list__item">
      <a class="link-list__link" href="#"
        >För det vidare  
  <svg focusable="false" class="skv-icon skv-icon--middle">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>

      </a>
    </li>
    <li class="link-list__item">
      <a class="link-list__link" href="#"
        >Jämförelseportalen  
  <svg focusable="false" class="skv-icon skv-icon--middle">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>

      </a>
    </li>
    <li class="link-list__item">
      <a class="link-list__link" href="#"
        >Lärportalen  
  <svg focusable="false" class="skv-icon skv-icon--middle">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>

      </a>
    </li>
  </ul>
</div>

