

<div class="link-list link-list--outlined">
  <h3 class="link-list__title">Ta mig till...</h3>
  <ul class="link-list__items">
    <li class="link-list__item">
      <a class="link-list__link" href="#">
        Lärarlegitimation 
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-chevron-right"></use>
</svg>

      </a>
    </li>
    <li class="link-list__item">
      <a class="link-list__link" href="#">
        Särskilt stöd 
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-chevron-right"></use>
</svg>

      </a>
    </li>
    <li class="link-list__item">
      <a class="link-list__link" href="#">
        Trygghet i skolan 
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-chevron-right"></use>
</svg>

      </a>
    </li>
    <li class="link-list__item">
      <a class="link-list__link" href="#">
        Nationella prov 
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-chevron-right"></use>
</svg>

      </a>
    </li>
  </ul>
</div>

