

<nav class="skv-navigation" id="main-navigation">
  <ul class="skv-navigation__list skv-navigation__list--level-1">
    <li
      class="skv-navigation__list-item  skv-navigation__list-item--has-child-links  skv-navigation__list-item--path"
    >
      <span
        class="skv-navigation__list-item-text "
      >
        Undervisning
      </span>
       
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-expand-more"></use>
</svg>

      <ul class="skv-navigation__list skv-navigation__list--level-2">
        <li
          class="skv-navigation__list-item  skv-navigation__list-item--has-child-links "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Förskolan</span>
          </a>
           
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-expand-more"></use>
</svg>

          <ul
            class="skv-navigation__list skv-navigation__list--level-3 "
          >
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Läroplan och kursplaner</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Bedömning</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Nationella prov</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Betyg</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>IUP med omdömen</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Lärarlegitimation</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Kompetensutveckling</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Förskoleklassen</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Fritidshemmet</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  skv-navigation__list-item--has-child-links  skv-navigation__list-item--path"
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Grundskolan</span>
          </a>
           
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-expand-more"></use>
</svg>

          <ul
            class="skv-navigation__list skv-navigation__list--level-3  skv-navigation__list-item--open"
          >
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Läroplan och kursplaner</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Bedömning</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link skv-navigation__list-item-link--active"
              >
                <span>Nationella prov</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>Betyg</span>
              </a>
            </li>
            <li
              class="skv-navigation__list-item "
            >
              <a
                href="#"
                class="skv-navigation__list-item-link"
              >
                <span>IUP med omdömen</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Grundsärskolan</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Specialskolan</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Sameskolan</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Gymnasieskolan</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Vuxenutbildningen</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Dansarutbildningen</span>
          </a>
                  </li>
      </ul>
    </li>
    <li
      class="skv-navigation__list-item  skv-navigation__list-item--has-child-links "
    >
      <span
        class="skv-navigation__list-item-text "
      >
        Skolutveckling
      </span>
       
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-expand-more"></use>
</svg>

      <ul class="skv-navigation__list skv-navigation__list--level-2">
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Leda och organisera</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Statsbidrag</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Forskning och utvärderingar</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Statistik</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Kompetensutveckling</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Anordna och administrera utbildning</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Inspiration och stöd i arbetet</span>
          </a>
                  </li>
      </ul>
    </li>
    <li
      class="skv-navigation__list-item  skv-navigation__list-item--has-child-links "
    >
      <span
        class="skv-navigation__list-item-text "
      >
        Regler och ansvar
      </span>
       
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-expand-more"></use>
</svg>

      <ul class="skv-navigation__list skv-navigation__list--level-2">
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Ansvar i skolfrågor</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Skollagen och förordningar</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Allmäna råd</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Sök förordningar och föreskrifter (SKOLFS)</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Aktuella regeländringar</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Lärar- och förskolelegitimation</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Barnkonventionen</span>
          </a>
                  </li>
      </ul>
    </li>
    <li
      class="skv-navigation__list-item  skv-navigation__list-item--has-child-links "
    >
      <span
        class="skv-navigation__list-item-text "
      >
        Om oss
      </span>
       
<svg class="skv-icon skv-icon--middle">
  <use xlink:href="#icon-expand-more"></use>
</svg>

      <ul class="skv-navigation__list skv-navigation__list--level-2">
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Organisation och verksamhet</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Kontakta oss</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Jobba hos oss</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Publikationer och nyhetsbrev</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Webbplatser och sociala kanaler</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Skolverkets hantering av personuppgifter</span>
          </a>
                  </li>
        <li
          class="skv-navigation__list-item  "
        >
          <a
            href="#"
            class="skv-navigation__list-item-link"
          >
            <span>Press</span>
          </a>
                  </li>
      </ul>
    </li>
  </ul>
  <ul class="skv-navigation__utility-list">
    <li class="skv-navigation__utility-list-item">
      <a href="" class="skv-navigation__utility-list-item-content-a-to-o">
        Innehåll A-Ö
      </a>
    </li>
    <li class="skv-navigation__utility-list-item">
      <a href="" class="skv-navigation__utility-list-item-listen">
        Lyssna
      </a>
    </li>
    <li class="skv-navigation__utility-list-item">
      <a href="" class="skv-navigation__utility-list-item-translate">
        Languages
      </a>
    </li>
  </ul>
</nav>

