

<div class="skv-news">
    <h3 class="skv-section-heading">
      <span class="skv-section-heading__label">Nyhetslista</span>
      <span class="skv-section-heading__border" />
    </h3>
  <ul class="skv-news__list">
      <li class="skv-news__list-item">
        <time class="skv-news__list-item-date">14 april</time>
        <a class="skv-nav-link " href="glad-pask">
  Glad påsk!
  
  <svg focusable="false" class="skv-icon skv-icon--inline">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>
</a>

      </li>
      <li class="skv-news__list-item">
        <time class="skv-news__list-item-date">29 maj 2018</time>
        <a class="skv-nav-link " href="lorem-ipsum-dolor-sit-amet">
  Lorem ipsum dolor sit amet
  
  <svg focusable="false" class="skv-icon skv-icon--inline">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>
</a>

      </li>
      <li class="skv-news__list-item">
        <time class="skv-news__list-item-date">24 december 2018</time>
        <a class="skv-nav-link " href="amet-sit-dolor-ipsum-lorem">
  Amet sit dolor ipsum lorem
  
  <svg focusable="false" class="skv-icon skv-icon--inline">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>
</a>

      </li>
      <li class="skv-news__list-item">
        <time class="skv-news__list-item-date">31 december 2018</time>
        <a class="skv-nav-link " href="gott-nytt-ar">
  Gott nytt år!
  
  <svg focusable="false" class="skv-icon skv-icon--inline">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>
</a>

      </li>
  </ul>
</div>

