

<div class="container container--margins">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="skv-box skv-box--compact skv-box--no-border">
        <h2 class="h2 margin-tp-reset">En tydlig områdesrubrik</h2>
        <p class="text-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua.</p>
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item">
            <a href="#1" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 1
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#2" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 2
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#3" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 3
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="#4" class="skv-content-navigation-list__item-link text-large">
              Navigationsval med extra mycket text
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img src="/styleguide/tmp/img/overview.png" alt="Elever i skolan" />
    </div>
  </div>
</div>
<div class="container container--no-padding">
  <div class="skv-box skv-box--no-padding skv-box--mb-large">
    <div class="skv-section skv-section--boxed">
      <header class="skv-section__header">
        <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Sektionstitel</span></h2>
      </header>
      <div class="skv-section__body">
          <div class="skv-reveal" data-js-reveal>
  <header
    class="skv-reveal__header skv-reveal__header--open"
    data-js-reveal-header
  >
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus diam, hendrerit vel nunc et, tincidunt ullamcorper ligula</h3>
    <button
      class="skv-reveal__toggle"
      aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus diam, hendrerit vel nunc et, tincidunt ullamcorper ligula"
      aria-controls="111"
      aria-expanded="true"
      data-js-reveal-trigger
    >
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
          
          <svg focusable="false" class="skv-icon">
            <use xlink:href="#icon-expand-more"></use>
          </svg>
      </span>
    </button>
  </header>
  <div
    class="skv-reveal__content-wrapper skv-reveal__content-wrapper--open"
    id="111"
    tabindex="-1"
    data-js-reveal-container
  >
    <div class="skv-reveal__content">
      <h1 class="h1">Rubrik 1</h1>
      <p class="text-large">
        Det här är en ingress på 25px. Maecenas faucibus mollis interdum.
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis
        euismod semper.
      </p>

      <ul class="list text-standard">
        <li>here is a bulleted list</li>
        <li>this is another item in the list</li>
        <li>and another item with a bit more text</li>
      </ul>

      <ol class="list text-standard">
        <li>Understand that this is a numbered list.</li>
        <li>Follow the second step in this numbered list.</li>
        <li>Make sure each item is a full sentence ending with a full stop.</li>
      </ol>

      <p class="text-standard">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <p class="text-small">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <div class="skv-reveal__content-toggle">
        <button
          class="skv-reveal__toggle"
          aria-label=""
          aria-controls="111"
          aria-expanded="true"
          data-js-reveal-trigger
        >
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
              
              <svg focusable="false" class="skv-icon">
                <use xlink:href="#icon-expand-more"></use>
              </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header
    class="skv-reveal__header"
    data-js-reveal-header
  >
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button
      class="skv-reveal__toggle"
      aria-label="Lorem ipsum dolor sit amet"
      aria-controls="112"
      aria-expanded="false"
      data-js-reveal-trigger
    >
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
          
          <svg focusable="false" class="skv-icon">
            <use xlink:href="#icon-expand-more"></use>
          </svg>
      </span>
    </button>
  </header>
  <div
    class="skv-reveal__content-wrapper"
    id="112"
    tabindex="-1"
    data-js-reveal-container
  >
    <div class="skv-reveal__content">
      <h1 class="h1">Rubrik 1</h1>
      <p class="text-large">
        Det här är en ingress på 25px. Maecenas faucibus mollis interdum.
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis
        euismod semper.
      </p>

      <ul class="list text-standard">
        <li>here is a bulleted list</li>
        <li>this is another item in the list</li>
        <li>and another item with a bit more text</li>
      </ul>

      <ol class="list text-standard">
        <li>Understand that this is a numbered list.</li>
        <li>Follow the second step in this numbered list.</li>
        <li>Make sure each item is a full sentence ending with a full stop.</li>
      </ol>

      <p class="text-standard">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <p class="text-small">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <div class="skv-reveal__content-toggle">
        <button
          class="skv-reveal__toggle"
          aria-label=""
          aria-controls="112"
          aria-expanded="false"
          data-js-reveal-trigger
        >
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
              
              <svg focusable="false" class="skv-icon">
                <use xlink:href="#icon-expand-more"></use>
              </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header
    class="skv-reveal__header"
    data-js-reveal-header
  >
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button
      class="skv-reveal__toggle"
      aria-label="Lorem ipsum dolor sit amet"
      aria-controls="113"
      aria-expanded="false"
      data-js-reveal-trigger
    >
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
          
          <svg focusable="false" class="skv-icon">
            <use xlink:href="#icon-expand-more"></use>
          </svg>
      </span>
    </button>
  </header>
  <div
    class="skv-reveal__content-wrapper"
    id="113"
    tabindex="-1"
    data-js-reveal-container
  >
    <div class="skv-reveal__content">
      <h1 class="h1">Rubrik 1</h1>
      <p class="text-large">
        Det här är en ingress på 25px. Maecenas faucibus mollis interdum.
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis
        euismod semper.
      </p>

      <ul class="list text-standard">
        <li>here is a bulleted list</li>
        <li>this is another item in the list</li>
        <li>and another item with a bit more text</li>
      </ul>

      <ol class="list text-standard">
        <li>Understand that this is a numbered list.</li>
        <li>Follow the second step in this numbered list.</li>
        <li>Make sure each item is a full sentence ending with a full stop.</li>
      </ol>

      <p class="text-standard">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <p class="text-small">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <div class="skv-reveal__content-toggle">
        <button
          class="skv-reveal__toggle"
          aria-label=""
          aria-controls="113"
          aria-expanded="false"
          data-js-reveal-trigger
        >
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
              
              <svg focusable="false" class="skv-icon">
                <use xlink:href="#icon-expand-more"></use>
              </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header
    class="skv-reveal__header"
    data-js-reveal-header
  >
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button
      class="skv-reveal__toggle"
      aria-label="Lorem ipsum dolor sit amet"
      aria-controls="114"
      aria-expanded="false"
      data-js-reveal-trigger
    >
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
          
          <svg focusable="false" class="skv-icon">
            <use xlink:href="#icon-expand-more"></use>
          </svg>
      </span>
    </button>
  </header>
  <div
    class="skv-reveal__content-wrapper"
    id="114"
    tabindex="-1"
    data-js-reveal-container
  >
    <div class="skv-reveal__content">
      <h1 class="h1">Rubrik 1</h1>
      <p class="text-large">
        Det här är en ingress på 25px. Maecenas faucibus mollis interdum.
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis
        euismod semper.
      </p>

      <ul class="list text-standard">
        <li>here is a bulleted list</li>
        <li>this is another item in the list</li>
        <li>and another item with a bit more text</li>
      </ul>

      <ol class="list text-standard">
        <li>Understand that this is a numbered list.</li>
        <li>Follow the second step in this numbered list.</li>
        <li>Make sure each item is a full sentence ending with a full stop.</li>
      </ol>

      <p class="text-standard">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <p class="text-small">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <div class="skv-reveal__content-toggle">
        <button
          class="skv-reveal__toggle"
          aria-label=""
          aria-controls="114"
          aria-expanded="false"
          data-js-reveal-trigger
        >
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
              
              <svg focusable="false" class="skv-icon">
                <use xlink:href="#icon-expand-more"></use>
              </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header
    class="skv-reveal__header"
    data-js-reveal-header
  >
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button
      class="skv-reveal__toggle"
      aria-label="Lorem ipsum dolor sit amet"
      aria-controls="115"
      aria-expanded="false"
      data-js-reveal-trigger
    >
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
          
          <svg focusable="false" class="skv-icon">
            <use xlink:href="#icon-expand-more"></use>
          </svg>
      </span>
    </button>
  </header>
  <div
    class="skv-reveal__content-wrapper"
    id="115"
    tabindex="-1"
    data-js-reveal-container
  >
    <div class="skv-reveal__content">
      <h1 class="h1">Rubrik 1</h1>
      <p class="text-large">
        Det här är en ingress på 25px. Maecenas faucibus mollis interdum.
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis
        euismod semper.
      </p>

      <ul class="list text-standard">
        <li>here is a bulleted list</li>
        <li>this is another item in the list</li>
        <li>and another item with a bit more text</li>
      </ul>

      <ol class="list text-standard">
        <li>Understand that this is a numbered list.</li>
        <li>Follow the second step in this numbered list.</li>
        <li>Make sure each item is a full sentence ending with a full stop.</li>
      </ol>

      <p class="text-standard">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <p class="text-small">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id
        elit non mi porta gravida at eget metus. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare
        vel eu leo.
      </p>
      <div class="skv-reveal__content-toggle">
        <button
          class="skv-reveal__toggle"
          aria-label=""
          aria-controls="115"
          aria-expanded="false"
          data-js-reveal-trigger
        >
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
              
              <svg focusable="false" class="skv-icon">
                <use xlink:href="#icon-expand-more"></use>
              </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

