

<div
  class="skv-card--medium"
  data-js-accessible-link
  data-js-accessible-link-focus-class="skv-card--medium--focused"
>
  <figure class="skv-card--medium__figure">
    <img
      class="skv-card--medium__image"
      src="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg"
      srcset="/styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@1x.jpg 600w, /styleguide/tmp/img/box-links/karlbergs_skola_fritidshem@2x.jpg 1200w"
      sizes="auto"
      alt=""
    />
  </figure>
  <div
    class="skv-card--medium__content"
  >
    <h2 class="skv-card--medium__headline">
      <a
        class="skv-card--medium__headline-link skv-card--medium__headline-link--boxed"
        href="https://www.skolverket.se/"
        data-js-accessible-link-url
      >
        Digitalisering av de nationella proven genom successivt införande
          
          <svg focusable="false" class="skv-icon skv-icon--middle">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
      </a>
    </h2>
  </div>
</div>

