

<div class="skv-section skv-section--boxed skv-section--full-width">
  <header class="skv-section__header">
    <h3 class="skv-section-heading">
      <span class="skv-section-heading__label">För dig som är</span>
      <span class="skv-section-heading__border" />
    </h3>
  </header>
  <ul class="target-group-links">
    <li
      class="target-group-links__item"
      data-js-accessible-link
      data-js-accessible-link-focus-class="target-group-links__item--focused"
    >
      <img
        class="target-group-links__img"
        src="/styleguide/assets/img/target-groups/students-and-guardians.svg"
        alt="Abstrakt grafik på ett barn och en förälder"
      />
      <a class="skv-nav-link " href="#" data-js-accessible-link-url>
  Elever &amp; vårdnadshavare
    
    <svg focusable="false" class="skv-icon skv-icon--inline" data-js-accessible-link-url>
      <use xlink:href="#icon-chevron-right"></use>
    </svg>
</a>

    </li>
    <li
      class="target-group-links__item"
      data-js-accessible-link
      data-js-accessible-link-focus-class="target-group-links__item--focused"
    >
      <img
        class="target-group-links__img"
        src="/styleguide/assets/img/target-groups/school-librarian.svg"
        alt="Abstrakt grafik på en person som står i ett bilbiotek"
      />
      <a class="skv-nav-link " href="#" data-js-accessible-link-url>
  Skolbibliotekarie
    
    <svg focusable="false" class="skv-icon skv-icon--inline" data-js-accessible-link-url>
      <use xlink:href="#icon-chevron-right"></use>
    </svg>
</a>

    </li>
    <li
      class="target-group-links__item"
      data-js-accessible-link
      data-js-accessible-link-focus-class="target-group-links__item--focused"
    >
      <img
        class="target-group-links__img"
        src="/styleguide/assets/img/target-groups/counselor.svg"
        alt="Abstrakt grafik på en person som pekar åt olika håll"
      />
      <a class="skv-nav-link " href="#" data-js-accessible-link-url>
  Studievägledare
    
    <svg focusable="false" class="skv-icon skv-icon--inline" data-js-accessible-link-url>
      <use xlink:href="#icon-chevron-right"></use>
    </svg>
</a>

    </li>
    <li
      class="target-group-links__item"
      data-js-accessible-link
      data-js-accessible-link-focus-class="target-group-links__item--focused"
    >
      <img
        class="target-group-links__img"
        src="/styleguide/assets/img/target-groups/employer.svg"
        alt="Abstrakt grafik på personer med olika yrken"
      />
      <a class="skv-nav-link " href="#" data-js-accessible-link-url>
  Arbetsgivare
    
    <svg focusable="false" class="skv-icon skv-icon--inline" data-js-accessible-link-url>
      <use xlink:href="#icon-chevron-right"></use>
    </svg>
</a>

    </li>
  </ul>
</div>

