

<div class="skv-toc" data-js-toc>
  <button class="skv-toc__toggle-button">
    <span class="visually-hidden">Öppna innehålls förteckningen</span>
  </button>
  <div class="skv-toc__inner">
    <h2 class="h4 skv-toc__title">Innehåll på denna sida</h2>
    <ul class="skv-toc__list">
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Darforskaskolorochforskolorarbetamedsakerhetochkrisberedskap">Därför ska skolor och förskolor arbeta med säkerhet och krisberedskap</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Arbetasystematisktmedsakerheten">Arbeta systematiskt med säkerheten</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Forebyggaincidentersomkanledatillkriser">Förebygga incidenter som kan leda till kriser</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Okakrisberedskapen">Öka krisberedskapen</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Utbildningarochmaterial">Utbildningar och material</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Statsbidragforsakerhetshojandeatgarder2018">Statsbidrag för säkerhetshöjande åtgärder 2018</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Setillattallaharkannedomomlokalerna">Se till att alla har kännedom om lokalerna</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Allpersonalskavetahurlarmetfungerar">All personal ska veta hur larmet fungerar</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Utarbetarutinerforkommunikation">Utarbeta rutiner för kommunikation</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Ovakrisplanenmedpersonalen">Öva krisplanen med personalen</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Olikahandlingsalternativvidvapnatvald">Olika handlingsalternativ vid väpnat våld</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Videnakutsituation">Vid en akut situation</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Ansvarochbefogenheteriskolforfattningarna">Ansvar och befogenheter i skolförfattningarna</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-Diskussionsfragor">Diskussionsfrågor</a>
      </li>
    </ul>
    <button class="skv-toc__close-button">
      <span class="visually-hidden">Stäng innehålls förteckningen</span>
    </button>
  </div>
</div>

