

<div class="skv-toc">
  <button class="skv-toc__toggle-button">
    <span class="visually-hidden">Öppna innehålls förteckningen</span>
  </button>
  <div class="skv-toc__wrapper">
    <h2 class="h4 skv-toc__title">Innehåll på denna sida</h2>
    <ul class="skv-toc__list">
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1augusti2018">1 augusti 2018</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1januari2019">1 januari 2019</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1juli2019">1 juli 2019</a>
      </li>
    </ul>
  </div>
</div>

