// TODO: fix all variants
.d-none {
  display: none;
}
@include media-min('md') {
  .d-md-none {
    display: none;
  }
}
.d-block {
  display: block;
}
@include media-min('md') {
  .d-md-block {
    display: block;
  }
}

@include media-print {
  .d-print-block {
    display: block;
  }
  .d-print-none {
    display: none;
  }
}
