$color-primary-purple: #692859;
$color-primary-green: #00424c;

$color-accent-blue: #99ced4;
$color-accent-red: #ef7748;
$color-accent-orange: #f59c00;

$color-background-blue: #dceaea;
$color-background-blue-lighter: #edf4f4;
$color-background-blue-light: #f6fafa;

$color-background-red: #fcdbcb;
$color-background-red-lighter: #fdede5;
$color-background-red-light: #fef6f2;

$color-background-yellow: #ffe56f;
$color-background-yellow-lighter: #fff2b7;
$color-background-yellow-light: #fff8db;

$color-complement-green: #497e89;
$color-complement-brown: #b1451c;
$color-complement-purple: #5a235a;
$color-complement-purple-light: #f8f4f8;

$color-framework-blue: #0079c2;
$color-framework-red: #cd2126;
$color-framework-green: #1d9a18;

$color-gray-background: #f2f2f2;
$color-gray-border: #d9d9d9;
$color-gray-text: #262626;
$color-gray-inactive: #666666;

$color-table-background: #f7f7f7;
$color-table-border: #e5e5e5;

$color-white: #ffffff;

$color-error: $color-framework-red;
$color-link: $color-framework-blue;

/* 
frågetecken 
reveal.scss:13
hoverfärg på $color-primary-purple https://skolverket.github.io/styleguide/components/preview/reveal--default.html
*/

/*
    länk
    länk:hover
    länk:visited
*/

$color-blue-dark: #005182;
$color-link-hover: $color-blue-dark;
$color-grass: #386406;
