.skv-toc {
  position: absolute;
  right: 0;
  z-index: 1;

  @include media-min('md') {
    position: static;
  }

  @include media-print {
    position: static;
  }

  &__inner {
    z-index: 2;
    height: 100vh;

    background-color: $color-white;
    transform: translate(100%, 4px);

    transition-delay: 100ms;
    transition: transform $reveal-transition-duration;
    transition-timing-function: ease-in;

    * {
      display: none;

      .skv-toc--open &,
      .skv-toc--animate-out & {
        display: block;
      }
    }

    .fixed & {
      position: fixed;
      top: -4px;
      right: 0;
    }

    .skv-toc--animate-in & {
      padding: 1em;
      width: 300px;
      box-shadow: 0 0 14px 0 rgba(108, 39, 106, 0.4);
      transform: translate(0, 4px);
    }

    .skv-toc--animate-in.fixed & {
      transform: translate(0, 0);
    }

    .skv-toc--animate-out & {
      padding: 1em;
      width: 300px;
      box-shadow: 0 0 14px 0 rgba(108, 39, 106, 0.4);
      transform: translate(100%, 4px);
    }

    .skv-toc--open & {
      padding: 1em;
      width: 300px;
      box-shadow: 0 0 14px 0 rgba(108, 39, 106, 0.4);
      transform: translate(0, 4px);
    }

    .skv-toc--open.fixed & {
      transform: translate(0, 0);
    }

    @include media-min('md') {
      position: static;
      height: auto;
      transform: none;
      width: auto;
      padding: 1em 1.5rem 1.5rem;
      box-shadow: none;
      display: block;

      * {
        display: block;
      }
    }
    @include media-print {
      position: static;
      transform: none;
      height: auto;
      padding: 1rem 1.75rem;

      * {
        display: block;
      }
    }
  }

  &__title {
    margin-bottom: 0.75rem;
    margin-top: 0;

    &:focus {
      outline: none;
    }
  }

  &__toggle-button {
    opacity: 1;
    padding: 0;
    border-width: 0 8px 0 0;
    border-color: $color-yellow;
    border-style: solid;
    background: $color-white;
    transform: rotate(180deg) translateY(-4px);
    width: 50px;
    height: 50px;
    box-shadow: 0 0 14px 0 rgba(108, 39, 106, 0.4);
    background-image: url('../assets/img/arrow-right.svg');
    background-size: 2rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 4;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: transform $reveal-transition-duration,
      opacity $reveal-transition-duration;
    transition-timing-function: ease-in;

    .skv-toc--animate-in &,
    .skv-toc--open & {
      opacity: 0;
      transform: rotate(180deg) translateX(-100%) translateY(-4px);
    }

    .skv-toc--open &,
    .skv-toc--animate-out & {
      display: none;
    }

    .fixed & {
      transform: rotate(180deg) translateY(0);
      top: 0;
      position: fixed;
    }
    .skv-toc--animate-in.fixed &,
    .skv-toc--open.fixed & {
      opacity: 0;
      transform: rotate(180deg) translateX(-100%) translateY(0);
    }

    &.skv-toc__toggle-button--animate-bump {
      animation: bump 1000ms;
    }

    @media (min-width: 767.9999px) {
      display: none;
    }
    @include media-print {
      display: none;
    }
  }

  &__close-button {
    position: absolute;
    top: 5px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    background-image: url('../assets/img/arrow-right.svg');
    background-size: 2rem;
    background-position: 50% 50%;

    @include media-min('md') {
      display: none;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0.25rem 0;

      &-link {
        text-decoration: underline;
        position: relative;
        color: $color-purple-dark;

        &.skv-toc__list-item-link--selected {
          color: $color-black;
          text-decoration: none;

          &:before {
            content: '';
            position: absolute;
            left: -1rem;
            top: -3px;
            height: calc(100% + 6px);
            display: block;
            width: 8px;
            background-color: $color-yellow;

            @include media-min('md') {
              left: -1.5rem;
            }
          }
        }
      }
    }
  }
}

@keyframes bump {
  0% {
    width: 50px;
  }
  25% {
    width: 57px;
  }
  50% {
    width: 50px;
  }
  75% {
    width: 57px;
  }
  100% {
    width: 50px;
  }
}
