.skv-banner {
  width: 100%;
  background: $color-background-yellow-lighter;
  color: $color-gray-text;
  font-size: 1em;
  line-height: 1.2;
  z-index: 10;

  &__inner-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $page-padding / 2 $page-padding;

    @include media-min('xl') {
      width: $page-max-width;
      max-width: 100%;
      margin: 0 auto;
    }

    @include media-max('md') {
      padding: $page-padding-small;
    }
  }

  &--confirm {
    background: $color-framework-green;
    color: $color-white;
  }

  &--error {
    background: $color-framework-red;
    color: $color-white;
  }

  &--warning {
    background: $color-background-yellow;
  }

  &__icon-container {
    margin: 0 15px 0 0;
    font-size: 32px;
  }

  &__content {
    flex: 1;

    h3, p {
      margin: 0;
      line-height: 1.2;
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
    }
    p {
      margin: .2em 0;
      font-size: 18px;
      font-weight: 300;
    }
  }

  .skv-nav-link {
    padding: 0;
    font-size: 1em;
    font-weight: normal;
    text-decoration: underline;
  }

  &__dismiss {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
    padding: .5em;
    background: none;
    border: none;
    color: inherit;
    transition: background 250ms;

    &:hover {
      background: rgba(0,0,0,.1);
      border-radius: 3px;
    }

    .skv-icon {
      margin: 0 0 0 5px;
    }
  }
}
