<div class="skv-banner skv-banner--{{type}}" role="status" {{#if dismissable}}data-js-banner--dismissable{{/if}}>
  <div class="skv-banner__inner-container" data-js-banner-container>
    <div class="skv-banner__icon-container">
      {{> @icon name=type inline=true label=null }}
    </div>
    <p class="skv-banner__body">
      {{ message }}
    </p>

    {{#if dismissable}}
      <button class="visually-hidden skv-banner__dismiss" aria-label="Stäng">
        Stäng
        {{> @icon name='close' }}
      </button>
    {{/if}}
  </div>
</div>
