<div class="skv-banner skv-banner--{{type}}" role="status" data-js-banner data-js-dismissable="{{#if dismissable}}true{{else}}false{{/if}}">
  <div class="skv-banner__inner-container" data-js-banner-container>
    <div class="skv-banner__icon-container">
      {{> @icon name=type inline=true label=null }}
    </div>
    <p class="skv-banner__body">
      {{ message }}
    </p>

    {{#if dismissable}}
      <button class="skv-banner__dismiss" aria-label="Stäng">
        Stäng
        {{> @icon name='close' }}
      </button>
    {{/if}}
  </div>
</div>
