<div class="skv-banner skv-banner--{{type}}">
  <div class="skv-banner__inner-container">
    <div class="skv-banner__icon-container">
      {{> @icon name=type inline=true label=null }}
    </div>
    <p class="skv-banner__body">
      {{ message }}
    </p>

    {{#if dismissable}}
      <button class="skv-banner__dismiss">
        Stäng
        {{> @icon name='close' }}
      </button>
    {{/if}}
  </div>
</div>
