.skv-reveal {
  &__header,
  &__header:hover {
    background-color: $color-primary-purple;
    color: $color-white;
  }

  &__toggle,
  &__content-toggle {
    display: none;
  }

  &__content-wrapper {
    max-height: none;
    display: block;
  }
}
