.editorial-table {

  $color-green: #00424C;

  margin: 1em 0;
  border: 1px solid #AAA;
  border-radius: 4px;
  border-collapse: collapse;

  caption {
    caption-side: top;
    padding: 4px;
    background: $color-green;
    color: $color-white;
    font-size: 18px;
  }

  thead, tbody {
    font-size: 16px;
  }

  thead {
    border-bottom: 3px solid $color-green;
  }

  tr {
    &:nth-child(even) {
      background: $color-gray-light;
    }
  }

  td {
    padding: 8px;
    border: 1px solid $color-gray-lighter;
  }
}
