<table class="skv-table skv-table--minimal">
  {{#if title}}<caption>{{ title }}</caption>{{/if}}
  <thead>
    <tr>
      <td scope="col">Lorem Ipsum</td>
      <td scope="col">Dolor</td>
      <td scope="col">Sit Amet</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
  </tbody>
</table>
