.skv-table {
  margin: 1em 0;
  border: 1px solid #AAA;
  border-radius: 4px;
  border-collapse: collapse;

  caption {
    caption-side: top;
    padding: 4px;
    background: $color-turq;
    color: $color-white;
    font-size: 18px;
  }

  thead, tbody {
    font-size: 16px;
  }

  thead {
    border-bottom: 3px solid $color-turq;
    font-weight: bold;
  }

  tr {
    &:nth-child(even) {
      background: $color-blue-light;
    }
  }

  td {
    padding: 8px;
    border: 1px solid $color-gray-lighter;
  }

  &--minimal {
    background: $color-white;

    caption {
      caption-side: bottom;
      background: none;
      text-align: center;
      font-size: 14px;
      color: $color-gray-dark;
    }

    tr {
      &:nth-child(even) {
        background: $color-gray-light;
      }
    }
  }
}

