<table class="editorial-table">
  <caption>Non minim eu qui fugiat occaecat</caption>
  <thead>
    <tr>
      <td>Lorem Ipsum</td>
      <td>Dolor</td>
      <td>Sit Amet</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
    <tr>
      <td>Sit ex magna sit occaecat</td>
      <td>Sit ex magna sit occaecat laboris officia</td>
      <td>Sit ex magna sit occaecat laboris officia occaecat proident in exercitation velit.</td>
    </tr>
  </tbody>
</table>
