.skv-feedback {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &.skv-feedback--textarea {
    max-width: 410px;
    display: block;
  }

  @include media-min('md') {
    flex-direction: row;
  }

  .skv-feedback__text {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0.875rem;
    text-align: center;

    &.skv-feedback__text--standalone {
      margin-bottom: 0;
      text-align: center;
      padding: 1.4375rem 0;
    }

    @include media-min('md') {
      text-align: left;
      margin-bottom: 0;

      &.skv-feedback__text--standalone {
        text-align: left;
        padding: 0;
      }
    }
  }

  .skv-feedback__buttons {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .skv-feedback__button {
    min-width: 84px;

    &:first-child {
      margin: 0 0.875rem;
    }
  }

  .skv-feedback__text-area {
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;

    .skv-feedback__text-area--title {
      margin-bottom: 0.125rem;
    }
  }
}
