<ul class="skv-medium-card-container">
  <li class="skv-medium-card-container__item">
    {{ render '@skv-card-medium--standard' }}
  </li>
  <li class="skv-medium-card-container__item">
    {{ render '@skv-card-medium--text-link-green-squares' }}
  </li>
</ul>
