

<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="/styleguide/css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="/styleguide/css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body class="Body--purple">
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-chevron-right" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></symbol><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol><symbol id="icon-external" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.999 19H5V7.001h7v-2H5a2 2 0 0 0-2 2V19a2 2 0 0 0 2 2h11.999c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></symbol></svg>
<div class="skv-mobile-menu">
  <div class="skv-mobile-menu__header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-mobile-menu__header-container">
            <h1 class="h1 skv-mobile-menu__header-title">Meny</h1>
            <a href="#" class="skv-mobile-menu__header-link icon-close">
              Stäng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skv-mobile-menu__links">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="skv-mobile-menu__list">
            <li class="skv-mobile-menu__list-item">
              <a href="#1" class="skv-mobile-menu__list-item-link">
                Undervisning
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#2" class="skv-mobile-menu__list-item-link">
                Skolutveckling
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#3" class="skv-mobile-menu__list-item-link">
                Lagar och regler
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#4" class="skv-mobile-menu__list-item-link">
                Innehåll A-Ö
                <i class="icon-arrow"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="skv-header">
  <div class="skv-header__top">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-header__top-container">
            <a href="#">
              <img src="/styleguide/assets/img/skolverket-logotype.svg" alt="Skolverket" class="skv-header__top-logo" />
            </a>
            <ul class="skv-header__list">
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-listen">
                  Lyssna
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-translate">
                  Languages
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-search">
                  Sök
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-mobilemenu">
                  Meny
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skv-header__links">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-header__links-container">
            <ul class="skv-header__list skv-header__list--absolute">
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link skv-header__list-item-link--active">
                  Undervisning
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Skolutveckling
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Lagar och regler
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Innehåll A-Ö
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container--margins container--no-padding">
  <div class="row">
    <div class="d-md-none col-12 col-md-4">
      <div
        class="skv-box skv-box--compact skv-box--no-padding skv-box--no-border skv-box--relative"
      >
        <div class="skv-toc">
  <button class="skv-toc__toggle-button">
    <span class="visually-hidden">Öppna innehålls förteckningen</span>
  </button>
  <div class="skv-toc__wrapper">
    <h2 class="h4 skv-toc__title">Innehåll på denna sida</h2>
    <ul class="skv-toc__list">
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1augusti2018">1 augusti 2018</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1januari2019">1 januari 2019</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1juli2019">1 juli 2019</a>
      </li>
    </ul>
  </div>
</div>

      </div>
    </div>
    <main class="col-12 col-md-8">
      <div class="skv-box skv-box--mb-large">
        <h1 class="h1 margin-tp-reset">Aktuella regeländringar</h1>
        <p class="text-large">
          Här hittar du information om de flesta aktuella ändringarna av lagar
          och regler inom skolområdet. Vi berättar också om ändringar i
          läroplaner här. Datumen gäller den tidpunkt då en ändring ska börja
          tillämpas.
        </p>
        <h2 class="h2" id="h-1augusti2018">1 augusti 2018</h2>
        <h3 class="h3">Allmänt</h3>
        <h4 class="h4">Behandling av personuppgifter på utbildningsområdet</h4>
        <p class="text-standard">
          Lagstiftningen på utbildningsområdet har anpassats till det nya
          regelverket om behandling av personuppgifter som trädde i kraft i maj
          2018. Enligt nya bestämmelser i skollagen har enskilda
          utbildningsanordnare fått motsvarande möjligheter som myndigheter att
          vid behov behandla känsliga personuppgifter och uppgifter om
          lagöverträdelser.
        </p>
        <p class="text-standard">
          Lagändringen trädde i kraft den 1 augusti 2018.
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/aktuella-regelandringar/behandling-av-personuppgifter-pa-utbildningsomradet"
            >Behandling av personuppgifter på utbildningsområdet</a
          >
        </p>
        <p class="text-standard">
          Det skedde fler regeländringar på skolområdet under sommaren 2018. Dem
          har Skolverket skrivit om tidigare.
        </p>
        <h2 class="h2" id="h-1januari2019">1 januari 2019</h2>
        <h3 class="h3">Förskola</h3>
        <h4 class="h4">Förskola på nationella minoritetsspråk</h4>
        <p class="text-standard">
          Regler om rätten till förskola på nationellt minoritetsspråk har förts
          över till skollagen och delvis stärkts.
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/ansvar-i-skolfragor/ratt-till-forskola-och-fritidshem#Forskolapanationelltminoritetssprak"
            >Förskola på nationella minoritetsspråk</a
          >
        </p>
        <h3 class="h3">Allmänt</h3>
        <h4 class="h4">
          Krav på att huvudmannen utser skolchef och nya regler om skolchefens
          uppgift
        </h4>
        <p class="text-standard">
          Enligt en ny bestämmelse i skollagen ska huvudmannen utse en skolchef
          som ska biträda huvudmannen med att se till att de föreskrifter som
          gäller för utbildningen följs i huvudmannens verksamhet inom
          skolväsendet.
        </p>
        <p class="text-standard">
          Lagändringen trädde i kraft den 1 juli 2018 och ska tillämpas första
          gången för verksamhet som bedrivs från och med 1 januari 2019.
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/aktuella-regelandringar/lagandring-2018-07-01-huvudmannen-ska-utse-en-eller-flera-skolchefer"
            >Huvudmannen ska utse en eller flera skolchefer</a
          >
        </p>
        <h4 class="h4" id="h-Nyaregleromagarprovningforenskildahuvudman">
          Nya regler om ägarprövning för enskilda huvudmän
        </h4>
        <p class="text-standard">
          Riksdagen beslutade den 7 juni 2018 att införa nya krav för tillstånd
          för att få bedriva enskild verksamhet inom bland annat skolverksamhet.
          Lagändringarna börjar gälla den 1 januari 2019.
        </p>
        <p class="text-standard">
          <a
            title="länk till annan webbplats"
            href="https://www.skolinspektionen.se/sv/Tillstandsprovning/agar--och-ledningsprovning/"
            >Läs mer om ägar- och ledningsprövning på Skolinspektionens
            webbplats</a
          >
        </p>
        <h4 class="h4">
          Tydligare regler om statliga åtgärder för rättelse mot kommunala
          skolor
        </h4>
        <p class="text-standard">
          Skollagens bestämmelser om statliga åtgärder för rättelse när det
          gäller verksamhet som bedrivs av en kommun eller ett landsting blir
          tydligare. Om en kommun eller ett landsting inte har följt ett
          föreläggande från Statens skolinspektion och det handlar om allvarliga
          missförhållanden får Skolinspektionen besluta att staten ska göra det
          som behövs för att rätta till missförhållandena. Det ska ske på
          kommunens eller landstingets bekostnad.
        </p>
        <p class="text-standard">
          Lagändringen trädde i kraft den 1 juli 2018 och ska tillämpas första
          gången för verksamhet som bedrivs från och med 1 januari 2019.
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/aktuella-regelandringar/lagandring-2018-07-01-tydligare-regler-om-statliga-atgarder-for-rattelse-mot-kommunala-skolor"
            >Tydligare regler om statliga åtgärder för rättelse mot kommunala
            skolor</a
          >
        </p>
        <h2 class="h2" id="h-1juli2019">1 juli 2019</h2>
        <h3 class="h3">Förskola</h3>
        <h4 class="h4">Reviderad&nbsp;läroplan för förskolan</h4>
        <p class="text-standard">
          Regeringen har beslutat om en reviderad läroplan för förskolan, Lpfö
          18. Läroplanen träder i kraft den 1 juli 2019. Här får du en överblick
          över de största förändringarna.
        </p>
        <p class="text-standard">
          <a
            href="/undervisning/forskolan/laroplan-for-forskolan/reviderad-laroplan-for-forskolan"
            >Reviderad läroplan för förskolan</a
          >
        </p>
        <h4 class="h4">Nya regler för förskolechefer och rektorer</h4>
        <p class="text-standard">
          Alla förskolechefer och rektorer som en huvudman anställer måste ha
          pedagogisk insikt som de ska ha skaffat sig genom både utbildning och
          erfarenhet. Bestämmelser om förskolechef och rektor finns i skollagen.
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/aktuella-regelandringar/rektor-infors-i-forskolan"
            >Rektor införs i förskolan</a
          >
        </p>
        <h3 class="h3">Fritidshem</h3>
        <h4 class="h4">Krav på legitimation i fritidshemmet</h4>
        <p class="text-standard">
          Det blir krav på lärarlegitimation och behörighet för att få undervisa
          och ansvara för undervisning i fritidshemmet. I och med detta
          försvinner det undantag som finns i dag.
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/aktuella-regelandringar/lagandring-2019-07-01-krav-pa-legitimation-i-fritidshemmet"
            >Krav på legitimation i fritidshemmet</a
          >
        </p>
        <h3 class="h3">Förskoleklass</h3>
        <h4 class="h4">
          Läsa, skriva, räkna - en garanti för tidiga stödinsatser
        </h4>
        <p class="text-standard">
          I skollagen införs nya bestämmelser om en garanti för tidiga
          stödinsatser. Det innebär att elever som behöver stöd tidigt ska få
          det utifrån sina behov.
        </p>
        <p class="text-standard">
          <a
            href="/skolutveckling/leda-och-organisera-skolan/extra-stod-till-elever/lasa-skriva-rakna---garanti-for-tidiga-insatser"
            >Läsa, skriva, räkna - en garanti för tidiga stödinsatser</a
          >
        </p>
        <h3 class="h3">
          Grundskola, grundsärskola, specialskola och sameskola
        </h3>
        <h4 class="h4">
          Mer undervisningstid i matematik och idrott och hälsa
        </h4>
        <p class="text-standard">
          Grundskolan: Elever som börjar i årskurs 7 höstterminen 2019 kommer
          att få ytterligare 105 timmar garanterad undervisningstid i matematik.
          Utöver det fördelas ytterligare 100 timmars undervisning i idrott och
          hälsa mellan mellanstadiet och högstadiet. Undervisningstiden i
          elevens val minskar med 205 timmar.
        </p>
        <p class="text-standard">
          <a
            href="/undervisning/grundskolan/laroplan-och-kursplaner-for-grundskolan/timplan-for-grundskolan#Text4"
            >Mer matematik och idrott och hälsa från höstterminen 2019</a
          >
        </p>
        <p class="text-standard">
          Grundsärskolan: Elever som börjar i årskurs 7 höstterminen 2019 kommer
          att få ytterligare 105 timmar garanterad undervisningstid i matematik.
          Undervisningstiden i elevens val minskar med 45 timmar och i slöjd med
          60 timmar.
        </p>
        <p class="text-standard">
          <a
            href="/undervisning/grundsarskolan/laroplan-och-kursplaner-for-grundsarskolan/timplan-for-grundsarskolan#Text6"
            >Förändringar i timplanen från höstterminen 2019</a
          >
        </p>
        <p class="text-standard">
          Specialskolan: Elever som börjar i årskurs 7 höstterminen 2019 kommer
          att få ytterligare 105 timmar garanterad undervisningstid i matematik.
          Undervisningstiden i elevens val minskar med 105 timmar.
        </p>
        <p class="text-standard">
          <a
            href="/undervisning/specialskolan/laroplan-och-kursplaner-i-specialskolan/timplan-for-specialskolan#Text8"
            >Förändringar i timplanen från höstterminen 2019</a
          >
        </p>
        <p class="text-standard">
          Sameskolan: Skolverket ska analysera om undervisningstiden i idrott
          och hälsa bör utökas i sameskolan på samma sätt som i grundskolan.
          Uppdraget ska redovisas till regeringen i januari 2019.
        </p>
        <p class="text-standard">
          <a
            href="/undervisning/sameskolan/laroplan-och-kursplaner-i-sameskolan/timplan-for-sameskolan#Text5"
            >Eventuellt utökad undervisningstid i idrott och hälsa</a
          >
        </p>
        <h4 class="h4">
          Stadieindelning av kursplanerna för döva och hörselskadade med
          utvecklingsstörning i specialskolan
        </h4>
        <p class="text-standard">
          Skolverket avser att stadieindela kursplanerna för döva och
          hörselskadade med utvecklingsstörning i specialskolan. Dessutom införs
          kunskapskrav för svenska i årskurs 3 för samma elevgrupp. Kursplanerna
          och kunskapskravet beräknas träda i kraft sommaren 2019.
        </p>
        <h4 class="h4">
          Läsa, skriva, räkna - en garanti för tidiga stödinsatser
        </h4>
        <p class="text-standard">
          I skollagen införs nya bestämmelser om en garanti för tidiga
          stödinsatser. Det innebär att elever som behöver stöd tidigt ska få
          det utifrån sina behov.
        </p>
        <p class="text-standard">
          <a
            href="/skolutveckling/leda-och-organisera-skolan/extra-stod-till-elever/lasa-skriva-rakna---garanti-for-tidiga-insatser"
            >Läsa, skriva, räkna - en garanti för tidiga stödinsatser</a
          >
        </p>
        <h3 class="h3">Gymnasieskola och gymnasiesärskola</h3>
        <h4 class="h4">Förändringar som rör introduktionsprogrammen</h4>
        <p class="text-standard">
          Från den 1 juli 2019 sker flera ändringar i introduktionsprogrammen i
          gymnasieskolan.&nbsp;
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/aktuella-regelandringar/forandringar-i-skollagen-for-introduktionsprogrammen"
            >Förändringar i skollagen för introduktionsprogrammen</a
          >&nbsp;<br />
        </p>
        <h4 class="h4">Förändringar i ämnesplaner</h4>
        <p class="text-standard">
          Från den 1 juli 2019 sker flera ändringar i gymnasieskolans och
          gymnasiesärskolans ämnesplaner.
        </p>
        <p class="text-standard">
          <a
            href="/regler-och-ansvar/aktuella-regelandringar/forandringar-i-amnesplaner"
            >Förändringar i gymnasieskolans ämnesplaner</a
          >
        </p>
        <h3 class="h3">Alla elever ska ha en mentor</h3>
        <p class="text-standard">
          Alla elever i gymnasieskolan och gymnasiesärskolan ska ha en mentor
          som ska följa elevens kunskapsutveckling och studiesituation i dess
          helhet. Förändringen träder ikraft 1 juli 2019. Regleringen finns i
          skollagen 15 kap §19a.
        </p>
      </div>
    </main>
    <div class="d-none d-md-block col-12 col-md-4">
      <div class="skv-box skv-box--compact skv-box--no-padding skv-box--sticky">
        <div class="skv-toc">
  <button class="skv-toc__toggle-button">
    <span class="visually-hidden">Öppna innehålls förteckningen</span>
  </button>
  <div class="skv-toc__wrapper">
    <h2 class="h4 skv-toc__title">Innehåll på denna sida</h2>
    <ul class="skv-toc__list">
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1augusti2018">1 augusti 2018</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1januari2019">1 januari 2019</a>
      </li>
      <li class="skv-toc__list-item">
        
        <a class="skv-toc__list-item-link text-small" href="#h-1juli2019">1 juli 2019</a>
      </li>
    </ul>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

<footer class="skv-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="skv-footer__header-container">
          <a class="skv-footer__logo" href="#">Skolverket</a>
          <div class="skv-footer__description text-standard">Skolverket arbetar för att alla barn, ungdomar och vuxna ska få en utbildning av god kvalitet.</div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="skv-footer__navigation-container">
          <ul class="skv-footer__navigation">
            <li class="skv-footer__navigation-item">
              <a href="#1" class="skv-footer__navigation-item-link text-standard">
                Kontakt
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#2" class="skv-footer__navigation-item-link text-standard">
                Om Skolverket
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#3" class="skv-footer__navigation-item-link text-standard">
                Våra webbplatser
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#4" class="skv-footer__navigation-item-link text-standard">
                Press
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
          </ul>
          <ul class="skv-footer__navigation">
            <li class="skv-footer__navigation-item skv-footer__navigation-item--no-border-bottom">
              <a href="#5" class="skv-footer__navigation-item-link skv-footer__navigation-item-link--purple text-small">
                Om webbplatsen
              </a>
            </li>
            <li class="skv-footer__navigation-item skv-footer__navigation-item--no-border-bottom">
              <a href="#5" class="skv-footer__navigation-item-link skv-footer__navigation-item-link--purple text-small">
                Kakor
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script async defer src="/styleguide/js/main.min.js"></script>
</body>
</html>

