

<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="/styleguide/css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="/styleguide/css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

</head>
<body>
<svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-chevron-right" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></symbol><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol><symbol id="icon-external" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.999 19H5V7.001h7v-2H5a2 2 0 0 0-2 2V19a2 2 0 0 0 2 2h11.999c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></symbol></svg>
<div class="skv-box skv-box--no-padding">
  <div class="skv-section skv-section--boxed">
    <header class="skv-section__header">
      <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Sektionstitel<span></h2>
      <div class="skv-section__header-preamble text-secondary">
        <p>Kontextuell fördjupningstext <a href="/press" class="text-link">med länk</a></p>
      </div>
    </header>
    <div class="skv-section__body">
      <div class="row">
        <div class="col">
          <ul class="skv-content-navigation-list">
            <li class="skv-content-navigation-list__item">
              <div>
                23 mars 2017
              </div>
              <a href="#1" class="skv-content-navigation-list__item-link text-large">
                Phasellus mattis diam convallis lectus ultricies
                <i class="icon-arrow icon-arrow--lg"></i>
              </a>
            </li>
            <li class="skv-content-navigation-list__item">
              <div>
                23 mars 2017
              </div>
              <a href="#1" class="skv-content-navigation-list__item-link text-large">
                Phasellus mattis diam convallis ultricies
                <i class="icon-arrow icon-arrow--lg"></i>
              </a>
            </li>
            <li class="skv-content-navigation-list__item">
              <div>
                23 mars 2017
              </div>
              <a href="#1" class="skv-content-navigation-list__item-link text-large">
                Phasellus mattis diam ultricies
                <i class="icon-arrow icon-arrow--lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script async defer src="/styleguide/js/main.min.js"></script>
</body>
</html>

