

<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
<title>Skolverket</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
<meta name="description" content="Skolverket">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link href="/styleguide/css/main.min.css" rel="stylesheet" type="text/css"/>
<noscript>
  <link href="/styleguide/css/no-js.min.css" rel="stylesheet" type="text/css"/>
</noscript>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

  </head>
  <body class="Body--blue">
    <svg style="height:0;width:0;display:block;" xmlns="http://www.w3.org/2000/svg"><symbol id="icon-chevron-right" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></symbol><symbol id="icon-expand-more" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></symbol><symbol id="icon-external" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.999 19H5V7.001h7v-2H5a2 2 0 0 0-2 2V19a2 2 0 0 0 2 2h11.999c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></symbol></svg> <div class="skv-mobile-menu">
  <div class="skv-mobile-menu__header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-mobile-menu__header-container">
            <h1 class="h1 skv-mobile-menu__header-title">Meny</h1>
            <a href="#" class="skv-mobile-menu__header-link icon-close">
              Stäng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skv-mobile-menu__links">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="skv-mobile-menu__list">
            <li class="skv-mobile-menu__list-item">
              <a href="#1" class="skv-mobile-menu__list-item-link">
                Undervisning
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#2" class="skv-mobile-menu__list-item-link">
                Skolutveckling
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#3" class="skv-mobile-menu__list-item-link">
                Lagar och regler
                <i class="icon-arrow"></i>
              </a>
            </li>
            <li class="skv-mobile-menu__list-item">
              <a href="#4" class="skv-mobile-menu__list-item-link">
                Innehåll A-Ö
                <i class="icon-arrow"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="skv-header">
  <div class="skv-header__top">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-header__top-container">
            <a href="#">
              <img src="/styleguide/assets/img/skolverket-logotype.svg" alt="Skolverket" class="skv-header__top-logo" />
            </a>
            <ul class="skv-header__list">
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-listen">
                  Lyssna
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-translate">
                  Languages
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-search">
                  Sök
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="" class="skv-header__list-item-mobilemenu">
                  Meny
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skv-header__links">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="skv-header__links-container">
            <ul class="skv-header__list skv-header__list--absolute">
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link skv-header__list-item-link--active">
                  Undervisning
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Skolutveckling
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Lagar och regler
                </a>
              </li>
              <li class="skv-header__list-item">
                <a href="#" class="skv-header__list-item-link">
                  Innehåll A-Ö
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="container container--margins">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="skv-box skv-box--compact skv-box--no-border">
        <h2 class="h2 margin-tp-reset">En tydlig områdesrubrik</h2>
        <p class="text-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua.</p>
        <ul class="skv-content-navigation-list">
          <li class="skv-content-navigation-list__item">
            <a href="#1" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 1
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#2" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 2
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item">
            <a href="#3" class="skv-content-navigation-list__item-link text-large">
              Navigationsval 3
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
          <li class="skv-content-navigation-list__item skv-content-navigation-list__item--no-border">
            <a href="#4" class="skv-content-navigation-list__item-link text-large">
              Navigationsval med extra mycket text
              <i class="icon-arrow icon-arrow--lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img src="/styleguide/tmp/img/overview.png" alt="Elever i skolan" />
    </div>
  </div>
</div>
<div class="container container--no-padding">
  <div class="skv-box skv-box--no-padding skv-box--mb-large">
    <div class="skv-section skv-section--boxed">
      <header class="skv-section__header">
        <h2 class="h3 skv-section__header-title"><span class="skv-section__header-title-text">Sektionstitel</span></h2>
      </header>
      <div class="skv-section__body">
          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header skv-reveal__header--open" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus diam, hendrerit vel nunc et, tincidunt ullamcorper ligula</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus diam, hendrerit vel nunc et, tincidunt ullamcorper ligula" aria-controls="111" aria-expanded="true" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper skv-reveal__content-wrapper--open" id="111" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      <h1 class="h1">En 45px Bold rubrik</h1>
<p class="text-large">Det här är en ingress på 25px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>

<h2 class="h2">En 36px Bold rubrik</h2>
<p class="text-standard">Det här är en brödtextparagraf på 20px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>

<h3 class="h3">En 25px Bold rubrik</h3>
<p class="text-standard">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>

<h4 class="h4">En 20px Bold rubrik</h4>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

<ul class="list text-standard">
  <li>here is a bulleted list</li>
  <li>this is another item in the list</li>
  <li>and another item with a bit more text</li>
</ul>

<ol class="list text-standard">
  <li>Understand that this is a numbered list.</li>
  <li>Follow the second step in this numbered list.</li>
  <li>Make sure each item is a full sentence ending with a full stop.</li>
</ol>

<ul class="list list--reset text-standard">
  <li><a href="#" class="text-link">Related link</a></li>
  <li><a href="#" class="text-link">Another related link</a></li>
  <li><a href="#" class="text-link">And another link</a></li>
  <li><a href="#" class="text-link">More</a></li>
</ul>

<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<p class="text-small">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<hr>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

      <div class="skv-reveal__content-toggle">
        <button class="skv-reveal__toggle" aria-label="" aria-controls="111" aria-expanded="true" data-js-reveal-trigger>
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
            
            <svg class="skv-icon">
              <use xlink:href="#icon-expand-more"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="112" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="112" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      <h1 class="h1">En 45px Bold rubrik</h1>
<p class="text-large">Det här är en ingress på 25px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>

<h2 class="h2">En 36px Bold rubrik</h2>
<p class="text-standard">Det här är en brödtextparagraf på 20px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>

<h3 class="h3">En 25px Bold rubrik</h3>
<p class="text-standard">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>

<h4 class="h4">En 20px Bold rubrik</h4>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

<ul class="list text-standard">
  <li>here is a bulleted list</li>
  <li>this is another item in the list</li>
  <li>and another item with a bit more text</li>
</ul>

<ol class="list text-standard">
  <li>Understand that this is a numbered list.</li>
  <li>Follow the second step in this numbered list.</li>
  <li>Make sure each item is a full sentence ending with a full stop.</li>
</ol>

<ul class="list list--reset text-standard">
  <li><a href="#" class="text-link">Related link</a></li>
  <li><a href="#" class="text-link">Another related link</a></li>
  <li><a href="#" class="text-link">And another link</a></li>
  <li><a href="#" class="text-link">More</a></li>
</ul>

<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<p class="text-small">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<hr>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

      <div class="skv-reveal__content-toggle">
        <button class="skv-reveal__toggle" aria-label="" aria-controls="112" aria-expanded="false" data-js-reveal-trigger>
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
            
            <svg class="skv-icon">
              <use xlink:href="#icon-expand-more"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="113" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="113" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      <h1 class="h1">En 45px Bold rubrik</h1>
<p class="text-large">Det här är en ingress på 25px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>

<h2 class="h2">En 36px Bold rubrik</h2>
<p class="text-standard">Det här är en brödtextparagraf på 20px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>

<h3 class="h3">En 25px Bold rubrik</h3>
<p class="text-standard">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>

<h4 class="h4">En 20px Bold rubrik</h4>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

<ul class="list text-standard">
  <li>here is a bulleted list</li>
  <li>this is another item in the list</li>
  <li>and another item with a bit more text</li>
</ul>

<ol class="list text-standard">
  <li>Understand that this is a numbered list.</li>
  <li>Follow the second step in this numbered list.</li>
  <li>Make sure each item is a full sentence ending with a full stop.</li>
</ol>

<ul class="list list--reset text-standard">
  <li><a href="#" class="text-link">Related link</a></li>
  <li><a href="#" class="text-link">Another related link</a></li>
  <li><a href="#" class="text-link">And another link</a></li>
  <li><a href="#" class="text-link">More</a></li>
</ul>

<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<p class="text-small">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<hr>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

      <div class="skv-reveal__content-toggle">
        <button class="skv-reveal__toggle" aria-label="" aria-controls="113" aria-expanded="false" data-js-reveal-trigger>
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
            
            <svg class="skv-icon">
              <use xlink:href="#icon-expand-more"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="114" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="114" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      <h1 class="h1">En 45px Bold rubrik</h1>
<p class="text-large">Det här är en ingress på 25px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>

<h2 class="h2">En 36px Bold rubrik</h2>
<p class="text-standard">Det här är en brödtextparagraf på 20px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>

<h3 class="h3">En 25px Bold rubrik</h3>
<p class="text-standard">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>

<h4 class="h4">En 20px Bold rubrik</h4>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

<ul class="list text-standard">
  <li>here is a bulleted list</li>
  <li>this is another item in the list</li>
  <li>and another item with a bit more text</li>
</ul>

<ol class="list text-standard">
  <li>Understand that this is a numbered list.</li>
  <li>Follow the second step in this numbered list.</li>
  <li>Make sure each item is a full sentence ending with a full stop.</li>
</ol>

<ul class="list list--reset text-standard">
  <li><a href="#" class="text-link">Related link</a></li>
  <li><a href="#" class="text-link">Another related link</a></li>
  <li><a href="#" class="text-link">And another link</a></li>
  <li><a href="#" class="text-link">More</a></li>
</ul>

<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<p class="text-small">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<hr>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

      <div class="skv-reveal__content-toggle">
        <button class="skv-reveal__toggle" aria-label="" aria-controls="114" aria-expanded="false" data-js-reveal-trigger>
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
            
            <svg class="skv-icon">
              <use xlink:href="#icon-expand-more"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

          <div class="skv-reveal" data-js-reveal>
  <header class="skv-reveal__header" data-js-reveal-header>
    <h3 class="skv-reveal__title">Lorem ipsum dolor sit amet</h3>
    <button class="skv-reveal__toggle" aria-label="Lorem ipsum dolor sit amet" aria-controls="115" aria-expanded="false" data-js-reveal-trigger>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--close">Dölj</span>
      <span class="skv-reveal__toggle-text skv-reveal__toggle-text--open">Visa</span>
      <span class="skv-reveal__toggle-icon">
        
        <svg class="skv-icon">
          <use xlink:href="#icon-expand-more"></use>
        </svg>
      </span>
    </button>
  </header>
  <div class="skv-reveal__content-wrapper" id="115" tabindex="-1" data-js-reveal-container>
    <div class="skv-reveal__content">
      <h1 class="h1">En 45px Bold rubrik</h1>
<p class="text-large">Det här är en ingress på 25px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>

<h2 class="h2">En 36px Bold rubrik</h2>
<p class="text-standard">Det här är en brödtextparagraf på 20px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>

<h3 class="h3">En 25px Bold rubrik</h3>
<p class="text-standard">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>

<h4 class="h4">En 20px Bold rubrik</h4>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

<ul class="list text-standard">
  <li>here is a bulleted list</li>
  <li>this is another item in the list</li>
  <li>and another item with a bit more text</li>
</ul>

<ol class="list text-standard">
  <li>Understand that this is a numbered list.</li>
  <li>Follow the second step in this numbered list.</li>
  <li>Make sure each item is a full sentence ending with a full stop.</li>
</ol>

<ul class="list list--reset text-standard">
  <li><a href="#" class="text-link">Related link</a></li>
  <li><a href="#" class="text-link">Another related link</a></li>
  <li><a href="#" class="text-link">And another link</a></li>
  <li><a href="#" class="text-link">More</a></li>
</ul>

<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<p class="text-small">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
<hr>
<p class="text-standard">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

      <div class="skv-reveal__content-toggle">
        <button class="skv-reveal__toggle" aria-label="" aria-controls="115" aria-expanded="false" data-js-reveal-trigger>
          <span class="skv-reveal__toggle-text">Dölj</span>
          <span class="skv-reveal__toggle-icon">
            
            <svg class="skv-icon">
              <use xlink:href="#icon-expand-more"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

    <footer class="skv-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="skv-footer__header-container">
          <a class="skv-footer__logo" href="#">Skolverket</a>
          <div class="skv-footer__description text-standard">Skolverket arbetar för att alla barn, ungdomar och vuxna ska få en utbildning av god kvalitet.</div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="skv-footer__navigation-container">
          <ul class="skv-footer__navigation">
            <li class="skv-footer__navigation-item">
              <a href="#1" class="skv-footer__navigation-item-link text-standard">
                Kontakt
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#2" class="skv-footer__navigation-item-link text-standard">
                Om Skolverket
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#3" class="skv-footer__navigation-item-link text-standard">
                Våra webbplatser
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
            <li class="skv-footer__navigation-item">
              <a href="#4" class="skv-footer__navigation-item-link text-standard">
                Press
                <i class="icon-arrow icon-arrow--white"></i>
              </a>
            </li>
          </ul>
          <ul class="skv-footer__navigation">
            <li class="skv-footer__navigation-item skv-footer__navigation-item--no-border-bottom">
              <a href="#5" class="skv-footer__navigation-item-link skv-footer__navigation-item-link--purple text-small">
                Om webbplatsen
              </a>
            </li>
            <li class="skv-footer__navigation-item skv-footer__navigation-item--no-border-bottom">
              <a href="#5" class="skv-footer__navigation-item-link skv-footer__navigation-item-link--purple text-small">
                Kakor
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

    <script async defer src="/styleguide/js/main.min.js"></script>
  </body>
</html>

